@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  overflow-x: hidden;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color:
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  align-items: center;
  text-align: center;
}

img {
  width: 100%;
}

body {
  font-family: 'Carter One', sans-serif ;
  color: #0e3b5e;
  margin: 0;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
  color: #0e3b5e;
  background-color: #f0bcc2;
  opacity: 0.8;
  padding: .5em;
}

.skip-links a:focus {
  top: 0;
}

header {
  background-image: url("../images/iza.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.banner-404 {
  background-image: url("../images/404.jpg");
  margin-bottom: -2em;
}

.side-projects-banner {
  display: none;
}

.nav-background {
  position: absolute;
  z-index: 99;
  top: 0;
  background-color: white;
  width: 100%;
  height: 3.5em;
  opacity: 1;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}

.nav-links {
  position: relative;
  z-index: 100;
  font-family: 'Yantramanav', sans-serif;
  width: 100%;
  padding-top: .8em;
  font-size: 1.2em;
  display: block;
  text-align: right;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 100;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  margin: 0 1em;
  font-weight: 500;
  color: #0e3b5e;
}

a:hover {
  transition:all .2s ease-in-out;
  color: #13CFB0;
  border-bottom: 6px solid #f0bcc2;
}

.work a:hover {
  transition:all .2s ease-in-out;
  color: #13CFB0;
  border-bottom: 6px solid #f0bcc2;
}

/* **********BILLBOARD********** */

.banner {
  position: relative;
}

.hideme
{
    opacity:0;
}

h1 {
  position: absolute;
  margin: 0;
  left: 46%;
  top: 40vh;
  color: #0e3b5e;
  font-weight: 200;
  font-size: 1.5em;
  line-height: 1.25em;
-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.logo {
  background-image: url("../images/wordmark-01.svg");
  transition:all .2s ease-in-out;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 101;
  height: 2em;
  width: 8em;
  left: 1em;
  top: .85em;
}

.logo:hover {
  background-image: url("../images/wordmark-02.svg");
}

.side-nav {
  transform: rotate(90deg);
  position: absolute;
  right: 0;
  top: 20em;
  padding: 1em 1.5em;
}

.side-projects a {
  background-color: white;
  padding: 1em 3em;
  vertical-align: middle;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}

.scroll-down {
  position: absolute;
  background-image: url("../images/down-arrow-02.svg");
  background-repeat: no-repeat;
  transition:all .2s ease-in-out;
  bottom: 1.75em;
  left: calc((100% - 3em) / 2);
  width: 3em;
  height: 3em;
  cursor: pointer;
  display: block;
  z-index: 0;
  -webkit-filter: drop-shadow(0px 0px 6px #0ce4f2);
  filter: drop-shadow(0px 0px 6px #0ce4f2);
  -webkit-animation: scroll-down-moving .5s ease-in-out infinite alternate;
  animation: scroll-down-moving .5s ease-in-out infinite alternate;
}

.scroll-down:hover {
/*  background-image: url("../images/down-arrow-03-01.svg");*/
  -webkit-filter: none;
  filter: none;
    -webkit-animation: scroll-down-moving .5s ease-in infinite alternate;
  animation: scroll-down-moving .5s ease-in infinite alternate;
}

@-webkit-keyframes scroll-down-moving {

  0% {
    -webkit-transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(10px);
  }

}

@keyframes scroll-down-moving {

  0% {
    transform: translateY(0px));
  }

  100% {
    transform: translateY(10px);
  }

}


/* **********ABOUT********** */

/*.charlie-quinn {
  display: block;
  position: relative;
  margin: 0 auto;
  text-align: center;
  float: center;
}*/

.about {
/*  background-image: linear-gradient(
    to bottom,
    rgba(244, 244, 244, 1) 0%,
    rgba(244, 244, 244, 0) 100%
);*/
  background-color: white;
  color: #9b9b9b;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: 200;
  padding: 2.5em 0 1em 0;
}

.about p {
  padding: .2em 0;
}

.about a {
  text-decoration: none;
  color: #0e3b5e;
}

.about a:focus,
.about a:active,
.about a:visited {
  cursor: pointer;
  color: #0e3b5e;
}

.about a:hover {
  color: #13CFB0;
}

/* **********CONTACT********** */

.contact {
  background-color: #f0bcc2;
}

.contact h3 {
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  padding: 4em 1em;
  margin: 0;
}

.i-email {
  width: 3em;
  height: 2em;
  background-image: url("../images/email-teal.svg");
  background-repeat: no-repeat;
}

.i-linkedin {
  width: 2em;
  height: 2em;
  background-image: url("../images/linkedin-teal.svg");
  background-repeat: no-repeat;
}

.i-twitter {
  width: 2.5em;
  height: 2em;
  background-image: url("../images/twitter-teal.svg");
  background-repeat: no-repeat;
}

.i-instagram {
  width: 2em;
  height: 2em;
  background-image: url("../images/instagram-teal.svg");
  background-repeat: no-repeat;
}

.i-email:hover,
.i-linkedin:hover,
.i-twitter:hover,
.i-instagram:hover {
  opacity: 0.5;
}
