@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: "Jura", sans-serif;
}


body {
  margin: 0;
}

header {
  background-color: #f16562;
}

.nav {
  color: #000;
  text-decoration: none;
}

.nav-group {
  text-align: right;
}

.nav-group li {
  display: inline-block;
  list-style-type: none;
}

.wordmark {
  width: 100%;
  margin-bottom: 5em;
  margin-top: 3em;
}

.work {
  margin: 0;
  padding: 0;
}

.work-img {
  display: block;
  width: 100%;
}

.work a {
  display: block;
}

footer {
  background-color: #f16562;
}

.footer-text, .icon-group {
  text-align: center;
  margin: 0;
}

.footer-icon {
  text-decoration-color: none;
  color: #fff;
}

.copyright {
  margin: 0;
}

h2 {
  color: white;
  font-size: 20px;
}

p {
  font-size: 20px;
}

.container {
  overflow: hidden;
  position: relative;
}

.title-container {
  position: absolute;
  z-index: 1;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  transform: translateY(100%);
  transition: all 1s ease;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.view {
  font-size: 16px;
}

.view:hover {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 35px;
}

.container:hover .title-container {
  transform: translateY(0);
}

.container .img img {
  max-width: 100%;
}

.previewimg {
    -webkit-filter: brightness(100%);
}

.content:hover .previewimg {
    -webkit-filter: brightness(30%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.display {
  -webkit-filter: brightness(100%);
}

.topcontent {
  margin-top: 150px;
}

.content {
  padding: 0.15em;
}

.bottomcontent {
  margin-bottom: 100px;
}

div.container {
  display:inline-block;
}

//* contact *//

h2 {
  color: white;
  font-size: 20px;
}

p {
  font-size: 20px;
}

.container {
  overflow: hidden;
  position: relative;
}

.title-container {
  position: absolute;
  z-index: 1;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  transform: translateY(100%);
  transition: all 1s ease;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.view {
  font-size: 16px;
}

.view:hover {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 35px;
}

.container:hover .title-container {
  transform: translateY(0);
}

.container .img img {
  max-width: 100%;
}

.previewimg {
    -webkit-filter: brightness(100%);
}

.content:hover .previewimg {
    -webkit-filter: brightness(30%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.display {
  -webkit-filter: brightness(100%);
}

.topcontent {
  margin-top: 150px;
}

.content {
  padding: 0.15em;
}

.bottomcontent {
  margin-bottom: 100px;
}

div.container {
  display:inline-block;
}
