--
layout: default
--

<div class="main-page">
  <ul class="skip-links">
    <li><a href="{{site.baseurl}}/#banner">Skip to Meet Iza</a></li>
    <li><a href="{{site.baseurl}}/#work">Skip to Work</a></li>
    <li><a href="{{site.baseurl}}/#contact">Skip to Contact</a></li>
  </ul>

  <header class="banner" id="banner"></header>

    <h1 class="cquinn">I&nbsp;live&nbsp;my&nbsp;life <br/>to&nbsp;the&nbsp;fullest</h1>

    <div class="scroll-down-wrapper"><a class="scroll-down" href="#about"></a></div>


     <!-- **********AboutMe********** -->
  <section class="hideme" id="about">
   <div id="about-iza"></div>
   <div class="iza-valle">
       <h2>Hola, I'm Iza Valle (pronounced like eza,but way better), an Ottawa based Graphic Designer and Illustrator.</h2>
     <h2 class="hideme">\\</h2>
     </div>
 </section>
 <div class="what-i-do hideme">
   <p><span class="like-a-video-game">I live my life like a video game.</span> <br>Developing new skills, unlocking achievements,  conquering challenges and leveling up.</p>
   <p class="hey">I specialize in creating online experiences<br>and makin’ things move.</p>
 </div>

       <!-- **********Portfolio********** -->

       <div class="portfolio" id="work">
   <div class="grid">
     {% for item in site.data.portfolio-pieces %}
     <div class="unit unit-s-1 unit-m-1-2 unit-l-1-3 item portfolio-piece-1 hideme">
       <a href="{{site.baseurl}}/#{{item.piece}}">{{item.title}}</a>
       <img src="{{site.baseurl}}/http://via.placeholder.com/800x500/{{item.thumbnail}}" alt="portfolio-piece alt description">
     </div>
     {% endfor %}
     <div class="piece-hover"></div>
   </div>
     {% for item in site.data.portfolio-pieces %}
   <div class="portfolio-opened" id="{{item.piece}}">
     <div class="back-button-bg"><div class="back-to-landing-page"><a class="go-back" href='#work'></a></div></div>
     <div class="work-together">
     <div class="grid hero-and-text">
       <div class="unit hero-image">
         {% for image in item.hero-image %}
         <img src="{{site.baseurl}}/http://via.placeholder.com/800x500/{{image}}" alt="portfolio-piece hero image">
       {% endfor %}
       </div>
       <div class="unit text">
         <h3 class="unit title">{{item.title}}</h3>
         <p class="unit description">{{item.description}}</p>
         <p class="unit tags">{{item.tags}}</p>
       </div>
       </div>

       <div class="portfolio-opened" id="{{item.piece}}">
         <div class="back-button-bg"><div class="back-to-landing-page"><a class="go-back" href='#work'></a></div></div>
         <div class="work-together">
         <div class="grid hero-and-text">
           <div class="unit hero-image">
             {% for image in item.hero-image %}
             <img src="{{site.baseurl}}/http://via.placeholder.com/800x500/{{image}}" alt="portfolio-piece hero image">
           {% endfor %}
           </div>
           <div class="unit text">
             <h3 class="unit title">{{item.title}}</h3>
             <p class="unit description">{{item.description}}</p>
             <p class="unit tags">{{item.tags}}</p>
           </div>
           </div>

           <div class="portfolio-opened" id="{{item.piece}}">
             <div class="back-button-bg"><div class="back-to-landing-page"><a class="go-back" href='#work'></a></div></div>
             <div class="work-together">
             <div class="grid hero-and-text">
               <div class="unit hero-image">
                 {% for image in item.hero-image %}
                 <img src="{{site.baseurl}}/http://via.placeholder.com/800x500/{{image}}" alt="portfolio-piece hero image">
               {% endfor %}
               </div>
               <div class="unit text">
                 <h3 class="unit title">{{item.title}}</h3>
                 <p class="unit description">{{item.description}}</p>
                 <p class="unit tags">{{item.tags}}</p>
               </div>
               </div>

               <div class="portfolio-opened" id="{{item.piece}}">
                 <div class="back-button-bg"><div class="back-to-landing-page"><a class="go-back" href='#work'></a></div></div>
                 <div class="work-together">
                 <div class="grid hero-and-text">
                   <div class="unit hero-image">
                     {% for image in item.hero-image %}
                     <img src="{{site.baseurl}}/http://via.placeholder.com/800x500/{{image}}" alt="portfolio-piece hero image">
                   {% endfor %}
                   </div>
                   <div class="unit text">
                     <h3 class="unit title">{{item.title}}</h3>
                     <p class="unit description">{{item.description}}</p>
                     <p class="unit tags">{{item.tags}}</p>
                   </div>
                   </div>



 </div>
</div>
