/* **********IPAD PORTRAIT********** */
@media only screen and (min-width: 768px) {

  h1 {
    top: 40vh;
    font-size: 3em;
  }

  .charlie-quinn h2 {
  max-width: 700px;
}

.contact-footer {
  color: #0e3b5e;
  padding: 6em 0 3em;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.social-media-bottom {
  float: right;
}

.copyright-section {
  text-align: left;
}

  hr {
    display: none;
  }

  .fourohfour {
    top: 41%;
    left: 4.05em;
  }

  .play-pause {
    top: 35%;
    left: 20em;
  }

  .logo {
    background-image: url("../images/wordmark-03.svg");
    transition:all .2s ease-in-out;
    height: 2em;
    width: 8em;
    top: .95em;
    left: 1.5em;
  }

  .logo:hover {
  background-image: url("../images/wordmark-04.svg");
}


  .item h3,
  .item p {
    display: none;
  }

  .nav-links {
    width: 50%;
    text-align: right;
    left: 50%;
    font-size: 1.25em;
    padding-top: .8em;
  }

  .nav-links li:last-child {
    margin-right: .25em;
  }

  nav a {
    color: #0e3b5e;
  }

  .about {
    font-size: 2em;
  }

/* **********PORTFOLIO********** */
  
 /* .portfolio-piece-1:hover {
    opacity: 0.7;
  }*/


  .portfolio-opened {
    position:fixed;
    top: -100vh;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
  }

  .portfolio-opened:target {
    top: 0;
  }

  .hero-image {
    width: 60%;
    margin: auto 0;
  }

  .hero-and-text .text {
    background-color: white;
    width: 40%;
    margin: auto 0;
  }

  .hero-and-text {
    background-color: white;
    display: block;
    width: 100%;
  }


  .portfolio-opened {
    transition: all .75s ease;
  }

/* **********IPAD LANDSCAPE********** */
@media only screen and (min-width: 1024px) {

  h1 {
    left: 70%;
    top: 45vh;
    font-size: 2.5em;
  }

  .fourohfour {
    top: 41%;
    left: 4.05em;
  }

  .play-pause {
    top: 43%;
    left: 15em;
  }

  header {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }

/*  .scroll-down {
    left: 47%;
    width: 4em;
    height: 4em;
  }*/

}
