<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="description" content="Hola, I'm Iza Valle (pronounced like eza,but way better), an Ottawa based Graphic Designer and Illustrator">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <meta property="og:title" content="Iza Valle Portfolio" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.izavalle.work/" />
  <meta property="og:image" content="" />
  <meta property="og:description" content="Hola, I'm Iza Valle (pronounced like eza,but way better), an Ottawa based Graphic Designer and Illustrator" />

  <meta property="twitter:summary" content="Iza Valle Portfolio" />

  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400" rel="stylesheet">

  <link href="images/favicon.ico" rel="shortcut icon">

</head>
<body>

  <div class="unit xs-1 s-1 m-1-2">
    <a href="{{site.baseurl}}/"><img class="title" src="{{site.baseurl}}/images/wordmark.svg" alt="Iza Valle Wordmark"></a>
  </div>


<!-- Toggle, Top Nav, Role of Nav is on bottom nav-->
  <div class="only-sm">
  <div class="nav-bar-s push-0">

          <div class="list-group push-0">
              <input type="checkbox" class="toggle-check" id="toggle-check">
              <div class="toggle-shape push-0"></div>
              <label for="toggle-check" class="toggle-label toggle">
                  <span class="toggleHover"><div id="toggle">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                  </div></span>


</label>
                  <ul class="pad-top text-center toggle-menu">
                     <!-- <li class="list-group__item list-group__item "><a href="#intro" class="nav-t2-item">Introduction</a></li> -->
                      <li class="list-group__item list-group__item "><a href="{{site.baseurl}}/about/" class="nav-t2-item">About</a></li>
                       <li class="list-group__item list-group__item "><a href="{{site.baseurl}}/Work/" class="nav-t2-item">Work</a></li>
                      <li class="list-group__item list-group__item "><a href="{{site.baseurl}}/footer/" class="nav-t2-item">Connect</a></li>
              </ul>
      </div><!-- list group -->
  </div><!-- navbar -->
</div><!-- only-sm -->
</div>


<!-- No Toggle, Top Nav, Role of Nav is on bottom nav-->


<div class="text-center">
  <div class="only-m-l">
      <div class="nav-bar">
          <div class="list-group push-0">
                  <ul class="push-0 js-smooth-scroll fullNav">
                      <!--<li class="list-group__item list-group__item--inline gutter-half"><a href="#intro" class="nav-t-item">Introduction</a></li> -->
                       <li class="list-group__item list-group__item--inline"><a href="{{site.baseurl}}/#about/" class="nav-t-item">About</a></li>
                      <li class="list-group__item list-group__item--inline"><a href="{{site.baseurl}}/#work/" class="nav-t-item">Work</a></li>
                      <li class="list-group__item list-group__item--inline"><a href="{{site.baseurl}}/#footer/" class="nav-t-item">Connect</a></li>
                  </ul>
          </div><!-- list group -->
      </div><!-- nav bar -->
  </div><!-- m/l -->
</div>



</header>

{{content}}

  <footer>
    <a href="https://www.behance.net/vall01392e7d"><img class="social" src="{{site.baseurl}}/images/social-media-01.svg" alt="Behance"></a>
    <a href="https://www.instagram.com/_fvg45/?hl=en"><img class="social"  src="{{site.baseurl}}/images/social-media-02.svg" alt="Instagram"></a>
    <a href="https://www.linkedin.com/in/iza-valle-1b3770bb/"><img class="social" src="{{site.baseurl}}/images/social-media-03.svg" alt="LinkedIn"></a>
  </footer>

</body>
</html>
