<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>Iza Valle</title>
    <meta name="description" content="Graphic Design: original art and design by Iza Valle located in Ottawa, Canada">
  	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  	<link href='http://fonts.googleapis.com/css?family=Raleway:400,800,300' rel='stylesheet' type='text/css'>
    <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
    <link href="{{site.baseurl}}/favicon-4.ico" rel="shortcut icon"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Facebook Card -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="My Graphic Design Work· Ottawa, ON">
  <meta property="og:url" content="https://ifvg45.github.io/Izavalle.work/">
  <!-- Image dimensions: minimum 200x200; recommended 1500x1500 -->
  <meta property="og:image" content="http://fullurl.com/sample-image-to-fill-in-later.jpg">
  <!-- `og:site_name` is optional but highly recommended -->
  <meta property="og:site_name" content="The Portfolio of Iza Valle Graphic Design · Ottawa, ON">
  <!-- `og:description` is also optional, but could easily be filled with the meta description -->
  <meta property="og:description" content="Hey there, as a professional creative, I put a whole heck of a lot of passion and energy into all I do. I am obsessed with clean, relevant, user/consumer-friendly design. Stick around if you'd like to check out my portfolio.">

<!-- Twitter Card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="IFVG · Ottawa, ON">
  <meta name="twitter:url" content="https://ifvg45.github.io/Izavalle.work/">
  <meta name="twitter:description" content="Hey there, as a professional creative, I put a whole heck of a lot of passion and energy into all I do. I am obsessed with clean, relevant, user/consumer-friendly design. Stick around if you'd like to check out my portfolio.">
  <!-- The image should be 120x120 pixels in dimension -->
  <meta name="twitter:image" content="http://fullurl.com/to-this/image-sample-to-fill-later.jpg">

</head>
	<body id="top">
		<!-- HEADER -->
		<header>

			<a href="#top" id="logo"></a>

			<nav class="milli">
				<a href="#" id="menu-icon"></a>

				<ul>
					<li><a href="#work" class="smoothScroll">PORTFOLIO</a></li>
					<li><a href="#about" class="smoothScroll">ABOUT</a></li>
					<li><a href="#footer" class="smoothScroll">CONTACT</a></li>

				</ul>
			</nav>
		</header>
		<!-- END - HEADER -->

		<!-- INTRO (PARALLAX) -->
		<section class="intro" id="intro">
		    <section class="module parallax parallax-1">
			  <div class="container">
			    <img class="img-flex" src="img/parallax-logo.svg" alt="Iza Valle Logo">
			    <span class="intro-border"></span>
			    <h3>i'm a graphic designer & this is my portfolio</h3>
			    <a href="#work" class="arrow smoothScroll">
			    	<img src="img/arrow.svg" alt="down arrow">
			    </a>
			  </div>
			</section>
		</section>

    {{content}}
			<!--  WORK DETAILS-->
				<div class="portfolio-wrapper" id="portfolio1" data-state="close">
						<div class="slider-wrap">
							<div class="flexslider">
							  <ul class="slides">
								<li>
									<img src="img/work-img/thesecretgarden-slide1.jpg" alt="The Secret Garden Movie Poster">
								</li>
								<li>
									<img src="img/work-img/thesecretgarden-slide2.jpg" alt="The Secret Garden Movie Poster">
								</li>
								<li>
									<img src="img/work-img/thesecretgarden-slide3.jpg" alt="The Secret Garden Movie Poster">
								</li>
								<li>
									<img src="img/work-img/thesecretgarden-slide4.jpg" alt="The Secret Garden Movie Poster">
								</li>
							  </ul>
							</div>
						</div>
					<div class="portfolio-description">
						<h2 class="portfolio-title">The Secret Garden</h2>
						<p>The goal of this poster was to choose a film and strip down the over arching concept, creating a movie poster using a minimalist approach. I wanted to step away from the computer and build the poster by hand. Using florists' foam, I layered flowers to create the desired texture.</p>
						<a href="#work" class="close smoothScroll">
					    	<img src="img/btn-close.svg" alt="close">
					    </a>
					</div>
				</div>

				<div class="portfolio-wrapper" id="portfolio2" data-state="close">
						<div class="slider-wrap">
							<div class="flexslider">
							  <ul class="slides">
								<li>
									<img src="img/work-img/furevr-slide1.jpg" alt="Furevr iOS App">
								</li>
								<li>
									<img src="img/work-img/furevr-slide2.jpg" alt="Furevr iOS App">
								</li>
								<li>
									<img src="img/work-img/furevr-slide3.jpg" alt="Furevr iOS App">
								</li>
								<li>
									<img src="img/work-img/furevr-slide4.jpg" alt="Furevr iOS App">
								</li>
								<li>
									<img src="img/work-img/furevr-slide5.jpg" alt="Furevr iOS App">
								</li>
								<li>
									<img src="img/work-img/furevr-slide6.jpg" alt="Furevr iOS App">
								</li>
							  </ul>
							</div>
						</div>
					<div class="portfolio-description">
						<h2 class="portfolio-title">Furevr</h2>
						<p>Furvr connects local rescue animals with loving forever homes. It is an animal rescue network that allows the user to browse adoptable pets and search based on their location, breed or age and view the profiles of animals in need of homes. Swipe through photos, favourite pets for later viewing, donate to local shelters, or share pets on social media to increase they’re chance of adoption. Furvr unites families with pets that compliment their lifestyles, allowing for maximum compatibility. Are you ready to meet your new best friend? </p>
					</div>
					<a href="#work" class="close smoothScroll">
					    	<img src="img/btn-close.svg" alt="close">
					 </a>
				</div>

				<div class="portfolio-wrapper" id="portfolio3" data-state="close">
						<div class="slider-wrap">
							<div class="flexslider">
							  <ul class="slides">
								<li>
									<img src="img/work-img/roamtv-slide1.jpg" alt="Roam Broadcast Package">
								</li>
								<li>
									<img src="img/work-img/roamtv-slide2.jpg" alt="Roam Broadcast Package">
								</li>
								<li>
									<img src="img/work-img/roamtv-slide3.jpg" alt="Roam Broadcast Package">
								</li>
								<li>
									<style>.embed-container { position: relative; padding-bottom: 100%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://player.vimeo.com/video/113874215' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
								</li>
							  </ul>
							</div>
						</div>
					<div class="portfolio-description">
						<h2 class="portfolio-title">Roam TV</h2>
						<a href="http://vimeo.com/emmamcinall/broadcastpackage" class="vimeo-link">
					    	<p>view the full video here.</p>
					    </a>
						<p>Every channel that goes on the air needs its own identity. That Identity needs to be brought through in each of the design elements pertaining to the channel. This broadcast package was created for a fictional Travel & Adventure Channel. </p>
						<p class="copyright">All footage belongs to: © 2014 GoPro, Inc. All Rights Reserved.</p>
					</div>
					<a href="#work" class="close smoothScroll">
					    	<img src="img/btn-close.svg" alt="close">
					    </a>
				</div>

				<div class="portfolio-wrapper" id="portfolio4" data-state="close">
						<div class="slider-wrap">
							<div class="flexslider">
							  <ul class="slides">
								<li>
									<img src="img/work-img/algonquinanimalhospital-slide1.jpg" alt="Algonquin Animal Hospital Logo">
								</li>
								<li>
									<img src="img/work-img/algonquinanimalhospital-slide2.jpg" alt="Algonquin Animal Hospital Logo">
								</li>
								<li>
									<img src="img/work-img/algonquinanimalhospital-slide3.jpg" alt="Algonquin Animal Hospital Logo">
								</li>
								<li>
									<img src="img/work-img/algonquinanimalhospital-slide4.jpg" alt="Algonquin Animal Hospital Logo">
								</li>
							  </ul>
							</div>
						</div>
					<div class="portfolio-description">
						<h2 class="portfolio-title">Algonquin Animal Hospital</h2>
						<p>My objective for this rebrand was to refresh the current logo, and introduce a modern, appropriate logo which accurately represents the hard work and professionalism of the Algonquin Animal Hospital.</p>
					</div>
					<a href="#work" class="close smoothScroll">
					    	<img src="img/btn-close.svg" alt="close">
					    </a>
				</div>


				<div class="portfolio-wrapper" id="portfolio5" data-state="close">
						<div class="slider-wrap">
							<div class="flexslider">
							  <ul class="slides">
								<li>
									<img src="img/work-img/artiststudy-slide1.jpg" alt="An illustration in the style of Mink Couteaux">
								</li>
								<li>
									<img src="img/work-img/artiststudy-slide2.jpg" alt="An illustration in the style of Mink Couteaux">
								</li>
								<li>
									<img src="img/work-img/artiststudy-slide3.jpg" alt="An illustration in the style of Mink Couteaux">
								</li>
								<li>
									<img src="img/work-img/artiststudy-slide4.jpg" alt="An illustration in the style of Mink Couteaux">
								</li>
							  </ul>
							</div>
						</div>
					<div class="portfolio-description">
						<h2 class="portfolio-title">Artist's Study: Mink Couteaux</h2>
						<p>The goal of this assignment was to conduct an Artist's Study of an Illustrator of our choosing.
						I was inspired by Netherlands Illustrator Mink Couteaux, and used his technique to produce a portrait of rapper C McD.</p>
					</div>
					<a href="#work" class="close smoothScroll">
					    	<img src="img/btn-close.svg" alt="close">
					    </a>
				</div>


				<div class="portfolio-wrapper" id="portfolio6" data-state="close">
						<div class="slider-wrap">
							<div class="flexslider">
							  <ul class="slides">
								<li>
									<img src="img/work-img/mcmurrayaviation-slide1.jpg" alt="McMurray Aviation Logo">
								</li>
								<li>
									<img src="img/work-img/mcmurrayaviation-slide3.jpg" alt="McMurray Aviation Sketchs">
								</li>
								<li>
									<img src="img/work-img/mcmurrayaviation-slide2.jpg" alt="McMurray Aviation Stationary">
								</li>
								<li>
									<img src="img/work-img/mcmurrayaviation-slide4.jpg" alt="McMurray Aviation Mobile">
								</li>
								<li>
									<img src="img/work-img/mcmurrayaviation-slide5.jpg" alt="A cuddly kitty">
								</li>
								<li>
									<img src="img/work-img/mcmurrayaviation-slide6.jpg" alt="A cuddly kitty">
								</li>
							  </ul>
							</div>
						</div>
					<div class="portfolio-description">
						<h2 class="portfolio-title">McMurray Aviation</h2>
						<p>McMurray Aviation specializies in charter flights to remote fishing and hunting camps, and transport goods to local native reserves. When creating the look and feel for McMurray Aviation, I wanted to reflect the ruggedness of their location and appeal to the target demographic. The overall look of the logo was greatly influenced by vintage badge design, and the boreal forest where the company is located. My goal was to design a logo the embodied the personality of both McMurray Aviation and the town of Fort McMurray itself. </p>
					</div>
					<a href="#work" class="close smoothScroll">
					    	<img src="img/btn-close.svg" alt="close">
					    </a>
				</div>


				<div class="portfolio-wrapper" id="portfolio7" data-state="close">
						<div class="slider-wrap">
							<div class="flexslider">
							  <ul class="slides">
								<li>
									<img src="img/work-img/wild-slide1.jpg" alt="Wild:A Collection of Quotes inspired by Nature">
								</li>
								<li>
									<img src="img/work-img/wild-slide2.jpg" alt="Wild:A Collection of Quotes inspired by Nature">
								</li>
								<li>
									<img src="img/work-img/wild-slide3.jpg" alt="Wild:A Collection of Quotes inspired by Nature">
								</li>
								<li>
									<img src="img/work-img/wild-slide4.jpg" alt="Wild:A Collection of Quotes inspired by Nature">
								</li>
								<li>
									<img src="img/work-img/wild-slide5.jpg" alt="Wild:A Collection of Quotes inspired by Nature">
								</li>
								<li>
									<img src="img/work-img/wild-slide6.jpg" alt="Wild:A Collection of Quotes inspired by Nature">
								</li>
								<li>
									<img src="img/work-img/wild-slide7.jpg" alt="Wild:A Collection of Quotes inspired by Nature">
								</li>
							  </ul>
							</div>
						</div>
					<div class="portfolio-description">
						<h2 class="portfolio-title">Wild</h2>
						<p>This booklet contains quotes from a variety of nature enthusiasts, including John Muir and Henry David Thoreau. I found these quotes to be very inspiring and so I wanted to create a booklet which could bring these quotes to life, and visually communicate nature's beauty. Every quote was hand painted using watercolours, they were then scanned and touched up in Photoshop. I printed and bound the booklet myself.
					</div>
					<a href="#work" class="close smoothScroll">
					    	<img src="img/btn-close.svg" alt="close">
					    </a>
				</div>


				<div class="portfolio-wrapper" id="portfolio8" data-state="close">
						<div class="slider-wrap">
							<div class="flexslider">
							  <ul class="slides">
								<li>
									<img src="img/work-img/tipjar-slide1.jpg" alt="TipJar iOS App">
								</li>
								<li>
									<img src="img/work-img/tipjar-slide2.jpg" alt="TipJar iOS App">
								</li>
								<li>
									<img src="img/work-img/tipjar-slide3.jpg" alt="TipJar iOS App">
								</li>
								<li>
									<img src="img/work-img/tipjar-slide4.jpg" alt="TipJar iOS App">
								</li>
							  </ul>
							</div>
						</div>
					<div class="portfolio-description">
						<h2 class="portfolio-title">TipJar</h2>
						<p>TipJar, an app for iOS, introduces a simple system that complies three different ratings to compile an appropriate tip, taking into account sales tax, service and quality. This app is very simple, using an easy rating system to collect the data needed for calculation. It can also be used for other services, such as a salon or taxi driver. Never second-guess your tip again!</p>
					</div>
					<a href="#work" class="close smoothScroll">
					    	<img src="img/btn-close.svg" alt="close">
					    </a>
				</div>

			<!-- END - WORK DETAILS -->

		<!-- END - WORK SECTION -->

		<!-- ABOUT -->
		<section class="about" id="about">
			<!-- <div class="picture">
			    	<img src="img/meet-emma.png" alt="Hello I am Emma">
			</div> -->

		    <section class="module parallax parallax-2">
			  <div class="container">
			  	<h2 class="about-title">MEET EMMA</h2>
			  	<span class="about-border"></span>
			  </div>
			</section>
			    <div class="meet-emma">
			    	<p>Design is my biggest passion. Through it I have learned to view the world in a different perspective and offer creative solutions to everyday problems. I posses a strong visual sense with the ability to take original ideas from concept to completion. I am continually striving to create a balance of design and functionality, further bridging the gap between communication and people.
			    		<br> To put it in the simplest terms, I am a designer because at the end of the day I am fufilled by what I do.</p>
			    </div>
	</section>
	<!-- END - ABOUT -->

		<!-- FOOTER -->
		<section class="footer" id="footer">
				 <h2 class="footer-title">LIKE WHAT YOU SEE?</h2>
				    <span class="footer-border"></span>
				    <ul class="social-links">
						<li>
							<a href="mailto: hello@emmamcinall.ca">
	  						<a class="mail" href="#">
								    <img src="images/design/icon-email.svg" alt="Email Emma">
								    <img src="images/design/icon-email2.svg" alt="Email Emma Hover">
								</a>
							</a>
						</li>

						<li>
							<a href="http://behance.net/emmaleemcinall">
	  						<a class="behance" href="#">
								    <img src="images/design/icon-behance.svg" alt="Follow Emma on Behance">
								    <img src="images/design/icon-behance2.svg" alt="Follow Emma on Behance Hover">
							</a>
							</a>
						</li>

						<li>
							<a href="ca.linkedin.com/in/emmamcinall/">
							<a class="linkedin" href="#">
								    <img src="images/design/icon-linkedin.svg" alt="Connect with Emma on Linked In">
								    <img src="images/design/icon-linkedin2.svg" alt="Connect with Emma on Linked In Hover">
							</a>
							</a>
						</li>
					</ul>
				<p class="copyright">©EMMA MCINALL 2014</p>
		</section>
		<!-- END - FOOTER -->

		<!-- Import jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<!-- Import jQuery Flexslider plugin -->
		<script src="flexslider/jquery.flexslider-min.js"></script>
		<!-- Fire the plugin -->
		<script type="text/javascript" charset="utf-8">
		  $(window).load(function() {
			$('.flexslider').flexslider({
				animation: "slide",
				});
		  });
		</script>

		<script src="js/main.js"></script>
		<script type="text/javascript" src="js/smoothscroll.js">

		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59283102-1', 'auto');
  ga('send', 'pageview');

		</script>
	</body>
</html>
