<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>The Portfolio of Iza Valle</title>
  <meta name="description" content="I believe that everything I design, love, and work for, will unlock an awesome achievement.">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900' rel='stylesheet' type='text/css'>
  <link href="images/cq-favicon.ico" rel="shortcut icon">

</head>
<body>

   <nav class="nav">
       <ul class="nav-links">
         <li class="about-me"><a href='javascript:changePage("about-me");'  aria-label="Visit Iza Valle's About section">About</a></li>
         <li class="my-work"><a href='javascript:changePage("home");'  aria-label="Visit Iza Valle's Work section">Work</a></li>
         <li class="my-side-projects"><a class="{% if page.url == '/side-projects.html' %}current{% endif %}" href='javascript:changePage("side-projects");'  aria-label="Visit Iza Valle's Work section">-[<span>&hearts;</span>]-</a></li>
         <li class="contact-me"><a href="#contact" aria-label="Visit Iza Valle's Contact section">Contact</a></li>
           <a href='{{site.baseurl}}/index.html'><div class="logo"></div></a>
     <div class="nav-background"></div>
   </nav>
 </header>

<!-- **********BANNER********** -->

  {{content}}

<!-- **********CONTACT********** -->
<footer>
      <section class="contact">
        <hr>
        <div class="what-i-do">
         <p><span class="like-a-video-game">I live my life to the fullest.</span> <br>Developing new skills, unlocking achievements,  conquering challenges and leveling up.</p>
         <p class="hey">I specialize in creating online experiences<br>and makin’ things move.</p>
        </div>
        <div class="next-level" id="contact"><h2>Goodbye?Adios?Oh no,please,can't we just go back and start all over again?</h2><div class="next-level-link"><a href="mailto:hey@izavalle.work">Say Hola!</a></div>
        </div>
        </div>
        <div class="contact-footer">
          <div class="contact-info unit unit-s-1 unit-m-1-2">
            <a class="unit unit-s-1" href="mailto:hey@izavalle.work">hey@izavalle.work</a>
            <a class="unit unit-s-1" href="tel:613-558-1779">+1 613.558.1779</a>
          </div>

          <div class="social-media-bottom unit unit-s-1 unit-m-1-2">
            <a href="mailto:hey@izavalle.work" target="_top" title="E-mail Iza Valle"><div class="i-email"></div></a>
            <a href="https://www.linkedin.com/uas/login-submit" title="Contact Iza Valle on LinkedIn"><div class="i-linkedin"></div></a>
            <a href="https://twitter.com" title="Contact Iza Valle on Twitter"><div class="i-twitter"></div></a>
            <a href="https://www.instagram.com/_izavalle/" title="Contact Iza Valle on Instagram"><div class="i-instagram"></div></a>
          </div>
          <div class="copyright-section">
            <p class="copyright">Copyright © 2018 Iza Valle</p>
          </div>
        </div>
      </section>
    </footer>


  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/2.0.0/"></script>
  <script src="{{site.baseurl}}/js/main.js"></script>

</body>
</html>
